/* font-family: 'Roboto', sans-serif;

COLORS
teal - #0fb9b1;
frosted white - rgba(225, 225, 225, .9);
grey - #95a5a6;
red - #ee5253

*/

*,
*:before,
*:after {
    font-family: 'Roboto', sans-serif;
}

body    {
    margin: 0px;
}

.navigation  {
    background: #0fb9b1;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.whats-for-dinner-header    {
    font-size: 20px;
}

.navigation > button    {
    font-size: 15px;
    width: 125px;
    height: 38px;
    padding: 5px;
    border: 0px;
    border-radius: 5px;
}

.central-display    {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 60px;
    gap: 10%;

}

.input-container  {
    background: rgba(255, 255, 255, 0.8);
    width: 500px;
    height: 325px;
    padding: 25px;
    align-items: center;
    justify-content: space-around;
}

#input-header {
    font-size: 30px;
}

.lets-cook-button   {
    background: #0fb9b1;
    padding: 5px;
    width: 200px;
    height: 40px;
    border: 0px;
    border-radius: 5px;
    font-size: 15px;
}

.output-container {
    background: rgba(255, 255, 255, 0.8);
    width: 500px;
    height: 325px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}




.crockpot-image {
    max-height: 20%;
    max-width: 20%;
    position: absolute;
    width: auto;
    height: auto;
    margin: 0px;
}

.recipe-container   {
    padding: 125px;
    visibility: hidden;
    position: absolute;
}

.you-should-make  {
    text-align: center;
    font-size: 16px;
    font-style: italic;
    margin: 0px;
}

.recipe-name  {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    margin: 0px;
}

.clear-button   {
    background: #95a5a6;
    font-size: 15px;
    color: #ffffff;
    width: 75px;
    height: 38px;
    padding: 5px;
    border: 0px;
    border-radius: 5px;
    margin: 265px 25px 0px 415px;
    
}




